@media screen and (max-width: 768px) {

  *{margin: 0; padding: 0;}
  .wrap
  {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    /* background-color: silver; */
    position: relative;
    /* overflow: hidden; */
  }
  header
  {
    width: 100vw;
    height: 80px;
    margin: 0 auto;
    /* background-color: blue; */
    position: absolute;
    z-index: 10;
    /* display: flex; */
    position: relative;
    position: fixed;
  }
  header .logobox
  {
    width: 40%;
    height: 100%;
    float: left;
    padding-left: 3%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: gray; */
  }
  header .logobox:hover
  {
    color: gray;
  }
  header .hamburger
  {
    margin: 1% 3% 0 0;
    width: 80px; height: 70%;
    position: absolute;
    top: 0;
    float: right;
    /* background-color: gray; */
    box-sizing: border-box;
    /* border: 1px solid gray; */
    position: relative;
    cursor: pointer;
  }
  header .hamburger span
  {
    display: inline-block;
    width: 100%; height: 8px;
    background-color: black;
  }
  header .hamburger span:nth-child(1)
  {
    position: absolute;
    top: 0;
  }
  header .hamburger span:nth-child(2)
  {
    position: absolute;
    top: 50%;
    /* transform: translateY(-50%); */
  }
  header .hamburger span:nth-child(3)
  {
    position: absolute;
    top: 100%;
  }

  header .hamburger:hover .h_menu
  {
    display: block;
  }
  header .h_menu
  {
    display: none;
    position: absolute;
    left: calc(-100vw + 100%);
    top: calc(100% + 10px);
    /* position: fixed; */
    cursor: pointer;
  }
  header .h_menu:hover
  {
    display: block;
  }
  header .h_menu ul
  {
    width: 100vw;
    float: left;
    background-color: rgba(222, 220, 223, 0.49);
    list-style: none;
    /* opacity: 0.8; */
  }
  header .h_menu ul li
  {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .h_menu ul li:hover
  {
    font-weight: bold;
    background-color: gray;
  }


  section
  {
    width: 100%;
    height: 400vh;
    display: flex;
    flex-direction: column;
  }
  section .main
  {
    flex: 1;
    position: relative;
    min-height: 640px;
    /* margin-top: 80px; */
  }
  section .main:nth-child(odd)
  {
    padding-top: 80px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  section .main:nth-child(even)
  {
    /* background-color: silver; */
    /* background-color: rgba(159, 136, 221, 0.15); */
    opacity: 0.8;
  }
  .main .m_margin
  {
    width: 100%;
    height: 80px;
    background-color: white;
  }
  .main .namebox
  {
    width: 100%;
    height: 50px;
    background-color: black;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: white;
    padding-left: 4%;
    box-sizing: border-box;
  }
  .main .textbox
  {
    width: 80%;
    height: 65%;
    min-height: 500px;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -44%);
    z-index: 1;
    background-color: silver;
    border: 10px solid black;
    display: flex;
    opacity: 0.85;
    flex-direction: column;
  }
  .textbox .imgbox
  {
    flex: 1;
    padding: 0 20px 0 20px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
  }
  .textbox .imgbox img
  {
    width: 200px;
    height: 200px;
    /* padding: 40px 5px 5px 40px; */
    /* margin-left: 40px; */
    /* display: flex;
    justify-content: center; */
    box-sizing: border-box;
    border-radius: 65% 35% 35% 65% / 60% 40% 60% 40%;
  }
  .textbox .imgbox .imgtext
  {
    margin-top: 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
  }
  .textbox .intro
  {
    flex: 1;
    /* margin-top: 280px; */
    display: flex;
    padding: 5px 10px 0 15px;
    /* align-items: center; */
    box-sizing: border-box;
    overflow: hidden;
  }
  .main .skillbox
  {
    width: 100%; height: 50%;
    /* background-color: skyblue; */
    display: flex;
    flex-wrap: wrap;
  }
  .main .skillbox .skill
  {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main .skillbox .skill img
  {
    width: 70%;
  }
  .main .skillbox .skill li
  {
    width: 25vw; height: 25vw;
    min-width: 150px; min-height: 150px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 50%;
    box-sizing: border-box;
    font-weight: bold;
  }
  .main .graphbox
  {
    width: 100vw;
    height: calc(50% - 130px);
    margin-left: 3%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main .projectbox
  {
    width: 80%;
    height: 65%;
    min-height: 500px;
    /* background-color: silver; */
    border: 10px solid black;
    display: flex;
    position: relative;
    opacity: 0.85;
    flex-direction: column;
    overflow: hidden;
  }
  .main .projectbox .projectin
  {
    width: 300%; height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
  }
  .projectbox .projectin li
  {
    float: left;
    width: calc(100% / 3); height: 100%;
    display: flex;
    /* justify-content: center; */
  }
  .projectin li a
  {
    width: 100%; height: 100%;
    display: flex;
    justify-content: center;
  }
  .projectin li a img
  {
    width: 100%;
    /* height: 100%; width: auto; */
    /* overflow: hidden;
    object-fit: cover; */
    cursor: pointer;
  }
  .projectin li img
  {
    max-width: 100%; height: auto;
    overflow: hidden;
    object-fit: cover;
  }
  .main .projectbox .leftbox
  {
    position: absolute;
    left: 0;
    z-index: 2;
    width: 10vw; height: 100%;
    /* background-color: silver; */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    opacity: 0.5;
  }
  .main .projectbox .leftbox:hover
  {
    opacity: 1;
    font-weight: bold;
  }
  .main .projectbox .rightbox
  {
    position: absolute;
    right: 0;
    z-index: 2;
    width: 10vw; height: 100%;
    /* background-color: silver; */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    opacity: 0.5
  }
  .main .projectbox .rightbox:hover
  {
    opacity: 1;
    font-weight: bold;
  }
  .main .contactbox
  {
    width: 100%;
    height: calc((100% - 130px)/2);
    /* background-color: skyblue; */
  }
  .main .contactbox h1
  {
    padding: 2% 0 1% 0;
    box-sizing: border-box;
    text-align: center;
  }
  .contactbox .mailbox
  {
    width: 100%; height: 70%;
    /* background-color: orange; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contactbox .mailbox .mailtext
  {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  .mailbox .mailtext .borderbox
  {
    width: 60%;
    min-width: 120px;
    border: 2px solid black;
    box-sizing: border-box;
    padding: 1%;
    /* border-radius: 30%; */
    /* text-align: center; */
  }
  .contactbox .mailbox .mailbutton
  {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mailbutton button
  {
    width: 70%;
    /* padding-top: 5%;
    padding-bottom: 5%; */
    box-sizing: border-box;
    /* border: none; */
  }

  .main .summary
  {
    width: 100%;
    height: calc((100% - 130px)/2);
    background-color: black;
    color: white;
  }
  .main .summary .sumbox1
  {
    padding: 5% 0 0 10%;
    box-sizing: border-box;
    width: 100%;
    height: 70%;
    display: inline-block;
  }
  .summary .sumbox1 li
  {
    list-style: none;
  }
  .summary .sumbox1 img
  {
    height: 100%; width: auto;
  }
  .summary .sumbox1 .sumtext
  {
    display: inline-block;
  }
  .summary .sumbox1 .sumtext:nth-child(1):hover
  {
    cursor: pointer;
  }
  .main .summary .sumbox2
  {
    width: 100%; height: 15%;
    position: relative;
    display: inline-block;
  }
  .summary .sumbox2 h3
  {
    position: absolute;
    left: 50%; bottom: 0;
    transform: translateX(-50%);
  }
}
